<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team6.leangoo.mapper.ArchiveMapper">
  <resultMap id="BaseResultMap" type="com.team6.leangoo.model.Archive">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="archive_id" jdbcType="INTEGER" property="archiveId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="project_or_board_id" jdbcType="INTEGER" property="projectOrBoardId" />
  </resultMap>
</mapper>