<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team6.leangoo.mapper.BoardMapper" >
  <resultMap id="BaseResultMap" type="com.team6.leangoo.model.Board" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="board_id" property="boardId" jdbcType="INTEGER" />
    <result column="board_name" property="boardName" jdbcType="VARCHAR" />
    <result column="board_start_date" property="boardStartDate" jdbcType="DATE" />
    <result column="board_end_date" property="boardEndDate" jdbcType="DATE" />
    <result column="board_start" property="boardStart" jdbcType="INTEGER" />
    <result column="board_locate" property="boardLocate" jdbcType="INTEGER" />
    <result column="board_is_archive" property="boardIsArchive" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap id="archiveBoard" type="com.team6.leangoo.model.Board">
    <id column="board_id" property="boardId" jdbcType="INTEGER"/>
    <result column="board_name" property="boardName" jdbcType="VARCHAR"/>
  </resultMap>
  <select id="getArchiveBoards" parameterType="integer" resultMap="archiveBoard">
    SELECT
		board.board_id,
		board.board_name
        FROM
            project_user
		INNER JOIN project_board ON project_user.project_id=project_board.project_id
		INNER JOIN board ON project_board.board_id=board.board_id
        WHERE board_is_archive = 1 AND user_id = #{userId}
  </select>
</mapper>