<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team6.leangoo.mapper.CardCheckitemMapper" >
  <resultMap id="BaseResultMap" type="com.team6.leangoo.model.CardCheckitem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="checkItem_id" property="checkitemId" jdbcType="INTEGER" />
    <result column="checkItem_name" property="checkitemName" jdbcType="VARCHAR" />
    <result column="checkItem_value" property="checkitemValue" jdbcType="INTEGER" />
    <result column="card_id" property="cardId" jdbcType="INTEGER" />
  </resultMap>
</mapper>