<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team6.leangoo.mapper.LaneMapper" >
  <resultMap id="BaseResultMap" type="com.team6.leangoo.model.Lane" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lane_id" property="laneId" jdbcType="INTEGER" />
    <result column="lane_locate" property="laneLocate" jdbcType="INTEGER" />
  </resultMap>
</mapper>